{% extends 'layout.html' %}

{% block content %}
<div class="contents">
    <!-- loginbox -->
    <div class="login">
        <div class="container">
            <div class="row">
                <div id="login_banner">
                    <div class="container">
                        <div class="tit">
                            <h1>&ldquo;워다타 서비스를 이용해주셔서 감사합니다.&rdquo;</h1>
                        </div>
                    </div>
                </div>
                <!-- //login_banner -->
               
                <div class="loginbox">
                    <h1>로그인</h1>
                    <form class="" action="index.html" method="post">
                    <input type="text" name="" placeholder=" 아이디">
                    <input type="password" name="" placeholder=" 비밀번호">
                    <input type="submit" name="" value="Login">
                    <ul>
                        <li>아이디 찾기</li>
                        <li>비밀번호 찾기</li>
                        <li>회원가입</li>
                    </ul>
                    </form>
                </div>  
            </div>
        </div>
    </div>
    <!-- //loginbox -->
</div>
{% endblock %}